[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[core]
	excludesfile = /Users/pravin/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = true
[user]
	name = Pravin Goomannee
	email = 5994387+Cityhunteur@users.noreply.github.com
	signingkey = 93855C85
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	gpgsign = true
[safe]
	directory = /src
	directory = /src
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
