[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesFile = ~/.gitignore
[pull]
	rebase = true
[user]
	name = Pravin Goomannee
	email = 5994387+Cityhunteur@users.noreply.github.com
	signingKey = 4ED9EB884710B8E4F8A5EC0631B570DC0F30D362
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	gpgSign = false
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
	format = openpgp
[diff]
        tool = difftastic
[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true
[diff]
        external = difft
[alias]
        dlog = "!f() { : git log ; GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
        dft = difftool
[url "git@hf.co/"]
	insteadOf = https://hf.co/
[url "git@silverdoor:silverdoorapartments/"]
	insteadOf = https://github.com/silverdoorapartments/
[url "git@resolution:resolutionlifegroup/"]
	insteadOf = https://github.com/resolutionlifegroup/
[tag]
	forceSignAnnotated = false
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[gpg "ssh"]
	program = 
	allowedSignersFile = 
